@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  background-color: white;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

a {
  text-decoration: none;
}

.page-name {
  display: flex;
  justify-content: center;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  letter-spacing: 1px;
}

.header-top .page-name {
  font-size: 35px;
  line-height: 47px;
  color: #000000;
  padding: 0;
  margin: 60px auto 46px;
}

.main-nav {
  margin: 0 135px 47px;
  padding: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2px;
  justify-content: space-between;
}

.header-top .main-nav {
  color: #000000;
}

.main-nav li a {
  color: #000000;
}

.promo {
  position: relative;
  height: 464px;
  background-image: url(img/header-bg.jpg);
  margin: 0;
  padding: 0;
}

.table-new {
  position: absolute;
  width: 117px;
  height: 25px;
  margin-left: 135px;
  margin-top: 0;
  background-color: #FF7931;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-new p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo img {
  margin: 46px 692px 32px 693px;
}

.promo p:nth-child(3) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.promo p:nth-child(4) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 133px;
  padding: 0;
}

h2 {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.reviews-title {
  margin: 44px auto 20px;
}

.reviews {
  margin: 0 auto;
  padding: 0;
  width: 1168px;
}

.review-items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

.review-item a {
  color: #000000;
}

.review-item h3 {
  margin: 20px 0 0;
  padding: 0;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  color: #000000;
}

.review-item p {
  margin: 11px 0 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.abonements {
  margin: 51px auto 50px;
  height: 556px;
  background-color: #F7F7F7;
  overflow: hidden;
}

.back-round {
  position: absolute;
  z-index: 1;
  width: 707px;
  height: 707px;
  border-radius: 50%;
  left: 366px;
  top: -75px;
  background-color: #FFFFFF;
}

.abonements h2 {
  position: relative;
  z-index: 2;
  margin: 33px auto 35px;
}

.abonement-items {
  height: 360px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.abonement-item h3 {
  margin: 0 auto 10px;
  padding: 0;
  height: 31px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;
  text-align: center;
  color: #000000;
}

.abonement-item a {
  color: #000000;
}

.abonement-item p {
  margin: 0;
  padding: 0;
  height: 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #000000;
}

.btn {
  position: relative;
  z-index: 2;
  width: 170px;
  height: 47px;
  margin: 25px auto 0;
  padding: 0;
  background-color: #FF7931;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

a .btn {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  vertical-align: middle;
  color: #FFFFFF;
}

.btn img {
  margin: 0 0 0 7px;
}

.short-line-in-main:nth-child(2) {
  position: absolute;
  width: 100px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  top: 192px;
  left: 670px;
  z-index: 2;
}

.short-line-in-main:nth-child(3) {
  position: absolute;
  width: 100px;
  height: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
  top: 320px;
  left: 670px;
  z-index: 2;
}

.page-footer {
  position: relative;
  z-index: 2;
  width: 1440px;
  height: 295px;
  background-color: #575757;
  margin: 0 auto 0;
  padding: 0;
}

.footer-top {
  padding-top: 26px;
}

.footer-top p {
  margin: 0 auto 32px;
  padding: 0;
  font-size: 28px;
  line-height: 37px;
  color: #FFFFFF;
}

.footer-top ul a {
  color: #FFFFFF;
}

.footer-line {
  width: 1170px;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-bottom: none;
  margin: 0 auto 0;
}

.social-net-items {
  margin: 42px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

.social-net-items li {
  margin-right: 14px;
}

.social-net-items li:last-child {
  margin-right: 0;
}

.social-net-item-background {
  width: 47px;
  height: 47px;
  background-color: #FFFFFF;
  border: none;
}

.social-net-item a div {
  display: flex;
  justify-content: center;
  align-items: center;
}